[submodule "dependencies/sources/glfw"]
	path = dependencies/sources/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/sources/assimp"]
	path = dependencies/sources/assimp
	url = https://github.com/assimp/assimp.git
[submodule "dependencies/sources/glm"]
	path = dependencies/sources/glm
	url = https://github.com/g-truc/glm.git
